doctype html
html(xmlns='http://www.w3.org/1999/html', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='robots', content='noarchive')
    meta(name='description', content="We help growing up business and startups in Georgia")
    title Hi-Tech Business hub - Privacy policy
  body
    section.container.content.is-center.pt-6
      h1.title.has-text-centered Privacy policy
      p The procedure for collecting, storing, processing and using personal data in accordance with the requirements of the GDPR (
        a(href='https://ogdpr.eu/ru', target='_blank') ogdpr.eu/ru

        |)
      p The collection of personal data (full name of the applicant, date and place of birth, contact information, passport details, data of the Company Registration Certificate (for legal entities and individual entrepreneurs), place of residence) is carried out through the official collection sources of the Association, namely: e-mail of the Association
        a(href='mailto:hitech.business.hub@gmail.com', target='_blank') &nbsp;hitech.business.hub@gmail.com&nbsp;
        | and other sources of information collection officially announced in the
        a(href='https://t.me/+NbqPJ1erXz0zMGIy', target='_blank') &nbsp;channel
        | .
      p Information is stored only on servers and computers owned by N(N)LE Hi-Tech Business Hub or personally by members of the Board of the Association, with the possible use of technologies that ensure proper protection and storage of personal data.
      p The processing of personal data is carried out after they are received at the official places of collection only by members of the Board of the Association. Third parties are not allowed to process personal data.
      p It is allowed to use personal data only directly for the implementation of the statutory goals of the Association.

      p The protection of personal data is ensured both by protecting the data implemented during the creation of the Association's website, and by guaranteeing personal security by the members of the Board who have access to them. The Executive Director of the Association is responsible for the protection and processing of personal data, who, if necessary, is authorized to involve members of the Association and / or a specialized organization for these tasks.

      p Deletion of personal data from the database of the Association is carried out after the withdrawal (exclusion) from the members of the Association or refusal to accept members of the Association.

      p The report of personal data is kept in any form of registers approved by the Board of the Association, which must include: a list of personal data, the date of receipt of personal data, the date of inclusion in the register of personal data (admission to membership in the Association), the date of deletion of personal data, the date of changes in personal data, the registration number of the application (it is also the registration number of a member of the Association), the date of transferring of personal data to the third parties and the legal basis for such transfer, note.
